/* top players styles */


/* common styles */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    ;
}

.containers {
    background-color: #FFFFFF;
    ;
    width: 800px;
    padding: 30px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

.top-players {
    margin-bottom: 30px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player img {
    width: 56px;
    height: 56px;
    align-items: center;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

.player {
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blog {
    display: flex;
}

.blog img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

.course .course-banner img {
    width: 224px;
    height: 104px;
}

.fa-star {
    font-size: 12px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}

@media only screen and(max-width:686px) {
    .containers {
        width: 100%;
    }
    .players,
    .blogs,
    .courses {
        grid-template-columns: repeat(1, 1fr);
    }
    .player,
    .blog,
    .course {
        flex-direction: column;
    }
}